@charset "UTF-8";
/* 変数定義 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* mixin */
/* ここから */
body {
  max-width: 100%;
  max-height: 100%;
  background-color: #c4ac6f;
}

header {
  color: white;
  background-color: #66441c;
  height: 80px;
}

header .logo {
  padding: 20px 40px;
  color: #fff;
  font-weight: bold;
  font-size: 1.8em;
}

.wrapper {
  padding: 30px;
  height: 100%;
  width: 90%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box {
  display: flex-inline;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-item-align: auto;
      align-self: auto;
  margin: 15px 15px;
  background-color: white;
  border-radius: 10px;
  line-height: normal;
  padding: 1.5em;
  height: 100%;
  text-align: center;
  width: 300px;
  text-align: center;
}

.box .title {
  font-weight: bold;
  color: #4b4a46;
  font-size: 36px;
}

.box .sub {
  padding-top: 1.5em3;
  color: #4b4a46;
}

.circle {
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  width: 20px;
  height: 20px;
  background-color: #a84040;
}

.circle2 {
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  width: 20px;
  height: 20px;
  background-color: #435296;
}

.circle3 {
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  width: 20px;
  height: 20px;
  background-color: #bbab1e;
}

.button {
  padding: 10px 30px;
  opacity: 0.8;
  width: 50%;
  border-radius: 10px;
  text-align: center;
  margin: 0.5em auto;
  font-weight: bold;
  background-color: #0acdbc;
  -webkit-box-shadow: 0px 5px #05998d;
          box-shadow: 0px 5px #05998d;
  color: white;
  margin: 1em auto;
}

.button:hover {
  opacity: 1;
}

.button:active {
  position: relative;
  top: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button:active {
  background-color: #0acdbc;
}

.button2 {
  padding: 10px 30px;
  opacity: 0.8;
  width: 50%;
  border-radius: 10px;
  text-align: center;
  margin: 0.5em auto;
  font-weight: bold;
  background-color: #d89923;
  -webkit-box-shadow: 0px 5px #997024;
          box-shadow: 0px 5px #997024;
  color: white;
}

.button2:hover {
  opacity: 1;
}

.button2:active {
  position: relative;
  top: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button2:active {
  background-color: #d89923;
}

.color1 {
  width: 50px;
  padding: 15px;
  text-align: center;
  color: white;
  background-color: #1683ff;
}

.color2 {
  width: 50px;
  padding: 15px;
  text-align: center;
  color: white;
  background-color: #006ae2;
}

.color3 {
  width: 50px;
  padding: 15px;
  text-align: center;
  color: white;
  background-color: #0052af;
}

.color4 {
  width: 50px;
  padding: 15px;
  text-align: center;
  color: white;
  background-color: #499eff;
}

.color5 {
  width: 50px;
  padding: 15px;
  text-align: center;
  color: white;
  background-color: #7cb9ff;
}
/*# sourceMappingURL=stylesheet.css.map */